body {
    box-sizing: border-box;
    background-color: #e7e4e4;
}

.principal {}

#titulo {
    width: calc(50% - 2rem);
    margin: 3.0em 1em;
    box-sizing: border-box;
    display: flex;
    width: 254px;
    margin-left: auto;
    margin-right: auto;
    max-height: 700px;
}

h1 {
    text-align: center;
    margin: auto;
    color: white;
}

h2 {
    text-align: center;
    margin: auto;
    color: white;
}

.main-date {}

.date-date {
    display: flex;
    justify-content: center;
    margin: 1.0em 1em;
    box-sizing: border-box;
    display: flex;
    width: 139PX;
    margin-left: auto;
    margin-right: auto;
    max-height: 700px;
    margin-top: 3em;
}

.main-clock {
    display: flex;
    justify-content: center;
}

.clock {
    width: calc(50% - 2rem);
    margin: 1.0em 1em;
    box-sizing: border-box;
    display: flex;
    width: 139PX;
    margin-left: auto;
    margin-right: auto;
    max-height: 700px;
    margin-top: 1em;


}

#campoderegistro {
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 2em;
    padding: 0.5em;
}

#entrada {
    margin-top: 1em;
}

.pginicial {
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 1em;
    padding: 0.5em;
}

#cancelar {
    margin-top: 1em;
}

.pgcancelar {
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 1em;
    padding: 0.5em;
}

/*PAGINA ADMINISTRADOR*/

.tabela {
    margin-top: 1em;
}

#tabela-funcionario {
    margin: 2em !important;
    padding: 1em !important;
}

.cards-inferiores {
    margin: 1em !important;
    padding: 1em !important;
}