<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pointer Entrada</title>
    <link
      rel="stylesheet"
      href="/relogio_de_ponto/RegistroDePonto/src/main/resources/static/css/estilizacao.css"
    />
  </head>

  <body>
    <header class="registro-titulo">
      <div>
        <h1>Registro de Ponto</h1>
      </div>
    </header>

    <div class="data">
      <section class="main-date">
        <div class="date">
          <div class="datedate">
            <h2 class="datamesano"></h2>
          </div>
        </div>
      </section>
    </div>

    <div class="hora">
      <section class="main-clock">
        <div class="clock">
          <h2 class="hours"></h2>
        </div>
      </section>
    </div>

    <div class="campo-registro">
      <div>
        <input type="password" placeholder=" DIGITE SEU REGISTRO" />
      </div>

      <button>BATER PONTO</button>
    </div>

    <script src="/relogio_de_ponto/RegistroDePonto/src/main/resources/static/javascript/script.js"></script>
  </body>
</html>
