body {
    font-family: Arial, Helvetica, sans-serif;
}

head {
    margin: 0;
    max-height: 10px;
}

h1 {
    text-align: center;
}

.main-clock {
    margin: auto;
    padding: 0.5rem;
    border-radius: 8px;
    text-align: center;
    background: #fffdfd;
    width: 500px;

}

.main-date {
    margin: auto;
    padding: 0.5rem;
    border-radius: 8px;
    text-align: center;
    background: #fffdfd;
    width: 500px;

}

.campo-input {
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}

.container {
    background: #cecece;
    margin: auto;
    border-radius: 8px;
    padding: 2rem;
    font-weight: bold;
    width: 50%;

}

.back {
    width: 50px;
    height: 50px;
}

.actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.first-action,
.second-action,
.third-action,
.fourth-action {
    background: #59b797;
    width: 150px;
    height: 170px;
    padding: 1rem;
    margin: .4rem;
    border-radius: 8px;
    letter-spacing: 2px;
    display: block;

}

.img-act {
    width: 45px;
    height: 50px;
    margin-left: 70%;
}

.first-action {
    color: white;
}

.second-action {
    background: #82d7e1;
}

.third-action {
    background: #ffdc89;
}

.fourth-action {
    background: #f45c4e;
    color: white;
}